n8n-workflows/instagram-booking-v2.json
{
  "name": "Instagram Booking Handler v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Instagram Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "instagram-booking-webhook"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.entry[0].messaging[0].message.text || $json.body.entry[0].changes[0].value.message || '' }}",
        "rules": {
          "rules": [
            {
              "value2": "book|tattoo|session|price|how much|available|appointment",
              "operation": "regex"
            }
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Keyword Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $vars.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\": \"{{ $json.body.entry[0].messaging[0].sender.id }}\"}"
            },
            {
              "name": "message",
              "value": "={\"text\": \"Hey! Thanks for reaching out to The Great Sage 🔮🖋️\\n\\nReady to book your session? Click here to schedule:\\n👉 https://setmore.com/thegreatssage\\n\\nWe offer custom tattoos, flash designs, and tarot readings. We can't wait to work with you!\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Reply via Facebook Graph API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 180]
    },
    {
      "parameters": {
        "functionCode": "const entry = items[0].json.body?.entry?.[0] || {};\nconst messaging = entry.messaging?.[0] || {};\nconst sender = messaging.sender?.id || 'unknown';\nconst message = messaging.message?.text || entry.changes?.[0]?.value?.message || '';\nconst timestamp = new Date().toISOString();\n\nconst crmEntry = {\n  id: `BOOKING-${Date.now()}`,\n  type: 'BOOKING',\n  source: 'instagram',\n  timestamp: timestamp,\n  sender_id: sender,\n  message: message,\n  status: 'NEW',\n  setmore_link: 'https://setmore.com/thegreatssage',\n  notes: 'Auto-captured from Instagram DM keyword trigger'\n};\n\nreturn [{ json: crmEntry }];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Build CRM Entry",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "appendToFile",
        "filePath": "/root/jarvis-crm.json",
        "dataPropertyName": "json",
        "options": {
          "append": true
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Write to CRM File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVOS_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "new_booking_lead"
            },
            {
              "name": "crm_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "source",
              "value": "instagram"
            },
            {
              "name": "sender_id",
              "value": "={{ $json.sender_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "notification",
              "value": "🔔 New booking inquiry captured from Instagram! Check jarvis-crm.json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Notify JARVIS via Convos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Instagram Webhook Trigger": {
      "main": [
        [
          {
            "node": "Keyword Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Router": {
      "main": [
        [
          {
            "node": "Reply via Facebook Graph API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build CRM Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CRM Entry": {
      "main": [
        [
          {
            "node": "Write to CRM File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to CRM File": {
      "main": [
        [
          {
            "node": "Notify JARVIS via Convos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "instagram"
    },
    {
      "name": "booking"
    },
    {
      "name": "crm"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T00:00:00.000Z",
  "id": "instagram-booking-v2",
  "meta": {
    "instanceId": "jarvis-os-thegreattsage"
  }
}
